<%-include ('head', {title: 'Create your NFT '})%>
<body>
    
<%-include('header')%>
<main class="p-5">
    <h3 class="createnft-title">Create your NFT</h3>
    <form class="createnft-form container p-5" action="/create" method="POST">
        <label for="nick">Nick</label><br><br>
        <input type="text" name="nick" placeholder="Nick"><br><br>
        <label for="price">Price $$</label><br><br>
        <input type="number" name="price" min="1" placeholder="Price $$"><br><br>
        <button type="submit" class="createnft-btn" value="create">Create NFT</button>

    </form>
</main>

<%-include('partials/footer')%>
    
</body>
</html>