<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <%-include('../header')%>
   
    <section> 
    <form method="post" class="login-form container">
        <label for="username">Username</label><br><br>
        <input placeholder="Username" type="text" name="username"><br><br>
        <label for="firstName">First Name</label><br><br>
        <input placeholder="First Name" type="text" name="firstName"><br><br>
        <label for="lastName">Last Name</label><br><br>
        <input placeholder="Last Name" type="text" name="lastName"><br><br>
        <label for="email">E-mail</label><br><br>
        <input placeholder="E-mail" type="email" name="email"><br><br>
        <label for="password">Password</label><br><br>
        <input placeholder="Password" type="password" name="password"><br><br>
        <label for="password">Confirm Password</label><br><br>
        <input placeholder="Confirm Password" type="password" name="" id=""><br><br>
        <div class="buttons-login">
            <a href="/" class="btn btn-success">Register</a>
        </div>
    </section>

    </form>

    
</body>
</html>